<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카테고리 목록</title>
</head>
<body>

<h1>카테고리 목록</h1>

<a th:href="@{/categories/create}">+ 카테고리 등록</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>작업</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<footer style="margin-top:24px; font-size:14px; color:#555;">
    <p th:text="${'실습 수행 일시: ' + #temporals.format(#temporals.createNow(), 'yyyy-MM-dd HH:mm:ss') + ' | 학번: 2171140 | 성명: 박세웅'}">
    </p>
</footer>

</body>
</html>